/* layout */

* {
    box-sizing: border-box;
    font-size: 13px;
}

body {
    font-family: Arial, sans-serif;
    background-image: url('../img/background.jpg');
    margin: 0;
}

main {
    background-color: white;
    margin: 20px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.5);
}

section {
    padding-bottom: 40px;
    overflow: hidden;
}

@media (min-width: 768px) {
    main {
        width: 750px;
        margin: 60px auto;
    }
}

/* header */

header {
    background-color: #d4423e;
}

#logo a {
    display: block;
    color: white;
    font-family: 'Dancing Script', cursive;
    text-decoration: none;
    font-size: 2em;
    padding: 20px;
    text-align: center;
}

header nav ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

header nav a {
    display: block;
    text-decoration: none;
    padding: 28px 15px;
    color: #FFF;
    text-transform: uppercase;
}

header nav a:hover {
    background-color: #b32c28;
}

@media (min-width: 768px) {
    header {
        height: 71px;
    }

    #logo {
        float: left;
    }

    #logo a {
        text-align: left;
        margin-left: 20px;
    }

    header nav {
        float: right;
        margin-right: 20px;
    }

    header nav li {
        display: inline-block;
    }

}

/* content*/

h1, h2, h3 {
    font-family: 'Dancing Script', cursive;
    color: #d4423e;
}

h1 {
    font-size: 2.5em;
    text-align: center;
}

h2 {
    font-size: 2em;
    font-weight: 400;
}

h3 {
    font-size: 1.2em;
}

h2:before {
    font-family: "Font Awesome 5 Free";
    content: '\f005';
    margin-right: 10px;
}

.gifts figure {
    width: 46%;
    margin: 2%;
    padding: 10px;
    float: left;
    overflow: hidden;
    position: relative;
}

.gifts img {
    width: 100%;
}

.gifts figure:hover img {
    transform: scale(1.2);
}

.gifts figure figcaption {
    position: absolute;
    left: 0;
    right: 0;
    margin-top: -35px;
    padding: 10px;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.8);
    color: #FFF;
}

#map {
    float: left;
    margin-right: 10px;
}

#map, #info {
    padding: 10px;
}

[type="submit"] {
    display: inline-block;
    background-color: #d4423e;
    color: #FFF;
    border: 1px solid #b32c28;
    margin-top: 10px;
    padding: 7px 15px;
    font-size: 14px;
    cursor: pointer;
    border-radius: 4px;
}

iframe {
    max-width: 100%;
}

@media (min-width: 768px) {
    .gifts figure {
        width: 21%;
        margin: 2%;
    }
}

/* footer */

footer {
    background-color: #d4423e;
    padding: 10px;
    text-align: center;
    font-size: 12px;
    color: #FFF;
}

@media (min-width: 768px) {
    footer {
        text-align: right;
        padding-right: 40px;
    }
}
